name: Update README

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "5 8 * * 2" # At 08:05 on Tuesday.
  workflow_dispatch:

jobs:
  markscribe:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: muesli/readme-scribe@master
        with:
          template: "templates/README.md.tpl"
          writeTo: "profile/README.md"

      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: main
          commit_message: "chore: Update generated README"
          commit_user_name: "GitHub Actions Bot"
          commit_user_email: "actions@github.com"
          commit_author: "GitHub Actions Bot <actions@github.com>"